@use '../../App.scss';

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 0;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid white 3px;
    font-size: App.$p-small;
    color: white;
    margin-bottom: 10px;
    &::placeholder {
        color: white;
        opacity: .7;
    }

}

input {
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: solid white 3px;
    height: 70px;
    font-size: App.$p-small;
    outline: none;
    margin-bottom: 10px;


    &::placeholder {
        color: white;
        opacity: .7;
    }

    &:focus::placeholder {
        transform: translatey(-20px);
        transition: ease .2s;
    }

    // &:focus::placeholder {
    //     color: transparent;
    // }
}

.submit {
    border: none;
    background-color: white;
    color: App.$primary;
    margin: 3% 0;
    max-width: 35%;
    height: 50px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact {
        display: block;
    }

    form {
        margin: 0 auto;
        max-width: 90%;
    }
}