@use './../../App.scss';

.image {
    border-radius: 20px;
    max-width: 600px;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 0 2%;
}

.backButton {
    position: absolute;
    padding: 10px 20px;
    margin: 2% 3%;
    background-color: App.$primary;
    color: white;
    border-radius: 15px;
    font-size: App.$p-small;
    &:hover {
        background-color: App.$secondary;
    }
}

.containerLeft {
    display: flex;
    margin: 1% 2%;
    padding: 4% 0;
    align-items: center;
    gap: 2%;
    border-bottom: solid App.$primary 5px;
}

.containerLeft:last-child {
    border-bottom: none;
}

.containerRight {
    display: flex;
    flex-direction: row-reverse;
    margin: 1% 2%;
    padding: 3% 0;
    align-items: center;
    gap: 2%;
    border-bottom: solid App.$primary 5px;
}

.containerRight:last-child {
    border-bottom: none;
}

.textContainerLeft {
    text-align: start;
    margin: 2% 0;
    width: 50%;
}

.textContainerRight {
    text-align: end;
    margin: 2% 0;
    width: 50%;
}

.imageContainer {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 700px;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.skeletonContainer {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0 auto;
    width: 100%;
}

.imageSkeletonContainer {
    width: 600px;
    height: 350px
}

@media (max-width: 990px) {
    .bio {
        display: block;
    }

    .image {
        max-width: 400px;
    }

    .imageContainer {
        width: 500px;
    }

    .imageSkeletonContainer {
        width: 400px;
        height: 250px;
    }

    .containerLeft {
        display: flex;
        flex-direction: column;
        .textContainerLeft {
            text-align: center;
            width: 100%;
        }
    }

    .skeletonContainer {
        flex-direction: column;
        align-items: center;
    }

    .containerRight {
        display: flex;
        flex-direction: column;
        .textContainerRight {
            text-align: center;
            width: 100%;
        }
    }
}

@media (max-width: App.$mobile) {
    .image {
        width: 100%;
    }

    .imageContainer {
        width: 300px;
    }

    .imageSkeletonContainer {
        width: 350px;
        height: 200px;
    }

}