@use '../../App.scss';

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    font-size: App.$p-size;
    margin-top: 30px;
}

@mixin field {
    max-width: 80%;
    font-size: App.$p-small;
    border-radius: 25px;
    padding: 5px;
    outline: none;
    border: solid App.$third 2px;

    &:focus {
        border-radius: 0;
        transition: ease .2s;
    }
}

input {
    width: 300px;
    height: 40px;
    @include field
}

textarea {
    @include field
}

.submit {
    background-color: blue;
    border-radius: 0;
}