@use '../../App.scss';

.container {
    position: fixed;
    width: 100%;
    // z index is high since 360 image nav has high index
    z-index: 99; 
    background-color: white;
}

@mixin nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: App.$font;
    margin: 0 auto;
    padding: 1% 4%;
    max-width: App.$desktop;

    .logo, .logomobile {
        display: block;
    }

    ul {
        display: flex;
        align-items: center;
    }

    li {
        list-style: none;
        margin: 0px 7px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: App.$heading-weight;
            color: App.$secondary;
            font-size: App.$nav-size;
            opacity: .8;
            padding: 4px 9px;

            &:hover {
                text-decoration: underline 3px;
                text-underline-offset: 5px;
                opacity: .5;
                transition: ease-in-out .2s;
            }
        }
        .special {
            background-color: App.$primary;
            color: rgb(255, 255, 255);
            border-radius: 20px;

            &:hover {
                box-shadow: 0px 0px 5px 5px App.$primary;
                background-color: white;
                transition: ease-in-out .2s;
                color: App.$secondary;
                text-decoration: none;
            }
        }
    
    }

    .logo {
        width: 50px;
    }

    .logomobile {
        display: none;
    }
}

.nav {
    @include nav
}

.burger {
    @include nav;
    background-color: App.$primary;
    height: 100vh;
    align-items: start;
    padding: 3.8% 7%;

    .logo {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;

        li {
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width: App.$tablet) {

    .nav {
        background-color: App.$primary;
        padding: 2% 7%;

        ul {
            display: none;
        }

        .logo {
            display: none;
        }

        .logomobile {
            display: block;
            width: 50px;
        }
    }


}