@use '../../App.scss';

.hamburger {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
}

.line {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

.active:nth-child(2) {
    opacity: 0;
}

.active:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: .2s ease;
}

.active:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
    transition: .2s ease;
}

@media (max-width: App.$tablet) {
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
}