@use '../../App.scss';

button {
    background-color: App.$primary;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 1% 3%;
    cursor: pointer;
    font-size: App.$p-small;
    
    &:hover {
        background-color: App.$secondary;
        color: white;
        transition: .2s ease;
    }
}