@use '../../App.scss';

button {
    background-color: App.$primary;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 2% 3%;
    &:hover {
        background-color: App.$secondary;
        color: white;
        transition: .2s ease;
    }
}