@use '../../App.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    margin: 50px auto 0 auto;
    max-width: App.$desktop;
}

.heading {
    color: white;
}

.location {
    color: white;
    margin: 5% 0;
    font-size: App.$p-small;
}

.email {
    color: white;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    font-size: App.$p-small;
    
    a {
        text-decoration: none;
        color: white;
        font-weight: App.$heading-weight;
        margin: 2px 0;

        &:hover {
            color: App.$secondary;
            text-decoration: underline 3px;
            transition: .2s ease;
        }
    }
}

.socialimage {
    width: 50px;
    color: white;
    font-size: App.$p-small;
}

.logos {
    display: flex;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .list {
        margin: 25px 0;
    }
    .location {
        text-align: center;
    }
}