$mobile: 490px;
$tablet: 990px;
$desktop: 1280px;

$heading-weight: 900;
$title: 6em;
$title-tablet: 4em;

$heading-size: 4em;
$heading-tablet: 3em;

$p-tablet: 1.5em;
$p-size: 2em;
$p-weight: 500;

$p-small: 1.2em;

$primary: #50C878;
$secondary: rgb(43, 139, 75);
$third: rgba(128, 128, 128, 0.212);

$font: 'Poppins', sans-serif;


$nav-size: 1.2em;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

.content {
    max-width: $desktop;
    margin: 0 auto;
}

#contact, #about, #discover {
    margin-bottom: 80px;
}

@media (max-width: $desktop) {

    html {
        scroll-padding-top: 3em;
    }

    .content {
        max-width: none;
        margin: 0 0px;
    }
}